/* Login Container */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 background-image: url("./image/bgr.png");
}

/*  Login Box */
.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/*  Title */
.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

/*  Inputs */
.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.login-box input:focus {
  border-color: #667eea;
}

/*  Button */
.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background:rgb(209, 147, 147);
}